@model VisualRecognition.ViewModels.TestClassifierViewModel
@{
    ViewBag.Title = "Visual Recognition Demo";
    Layout = "_Layout";
}
<div class="tab-panels tab-views" role="tabpanel">
    <ul class="tab-panels--tab-list tab-views--tab-list" role="tablist">
        <li class="tab-panels--tab-list-item tab-views--tab-list-item base--li" role="presentation">
            <a class="tab-panels--tab tab-views--tab" href="/" aria-controls="panel1" role="tab">Try</a>
        </li>
        <li class="tab-panels--tab-list-item tab-views--tab-list-item base--li" role="presentation">
            <a class="tab-panels--tab tab-views--tab" href="/train" aria-controls="panel2" role="tab">Train</a>
        </li>
        <li class="tab-panels--tab-list-item tab-views--tab-list-item base--li" role="presentation">
            <a class="tab-panels--tab tab-views--tab active" href="/test" aria-controls="panel3" role="tab">Test</a>
        </li>
    </ul>
    <div class="tab-panels--tab-content">
        <h2 class="base--h2 test--classifier-name">@Model.ClassifierName</h2>
        <div>Test your newly trained demo classifier with a similar image (max 2mb) that was not in the training set.</div>
        <div class="test--input-container toggled">
            <h3 class="base--h3 test--header">Test your classifier</h3>
            <form id="test--fileupload" class="test--form test--dropzone" data-upload-template-id="template-upload-test">
                <input id="classifier_id" type="hidden" name="classifier_id" value="" />
                <div class="test--example-images test--example-images_@Model.Samples.BundleId">
                    @Html.Partial("_SampleImages", Model.Samples)
                </div>
                <div class="test--url">
                    <div class="test--invalid-url" style="display:none">Invalid URL</div>
                    <div class="test--invalid-image-url" style="display:none">The URL must end with .JPG, .GIF, or .PNG.</div>
                    <input class="test--url-input base--input" type="text" placeholder="Or paste an image URL" name="url" />
                    <input class="test--image-data-input base--input" type="hidden" name="image_data" />
                </div>
            </form>
        </div>
        <div class="loading test--loading">
            <img class="test--loading-image loading--image" src="~/images/loading-indicator.gif" />
            <p class="base--p test--loading-message loading--message">Visual Recognition is classifying the image to determine a match...</p>
        </div>
        <div class="error test--error">
            <img class="test--error-image error--image" src="~/images/icons/alert.svg" />
            <p class="base--p test--error-message error--message">Visual Recognition is not available right now...</p>
        </div>
        <div class="test--output">
            <hr class="base--hr test--hr" />
            <h2 class="base--h2 test--output-header">Results</h2>
            <div class="test--output-row">
                <div class="test--output-left">
                    <div class="test--output-image-container">
                        <img class="test--output-image" />
                    </div>
                </div>
                <div class="test--output-right test--output-data"></div>
            </div>
        </div>
    </div>
</div>
