@model VisualRecognition.Models.ClassificationScoreViewModel
<div class="watsonScore">
    <div class="watsonScoreName">
        @Html.DisplayFor(m => m.ClassifierName)
    </div>
    <div class="watsonScoreValue">
        @Html.DisplayFor(m => m.Score)
    </div>
</div>