<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="ct" content="GiGVakAa-XhaKOYWtgJlqYNDPBfvEej3Etrg" />
    <meta name='og:image' content='/images/app.png' />
    <meta name='og:title' content='IBM Watson Visual Recognition' />
    <meta name='og:description' content='Visual Recognition uses deep learning algorithms to analyze images for scenes, objects, faces, text, and other subjects that can give you insights into your visual content. You can organize image libraries, understand an individual image, and create custom classifiers for specific results that are tailored to your needs.' />
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/training.css" />
    <link rel="stylesheet" href="~/css/footer.css" />
    <style>
        .container {
            width: auto;
            border-top: 1px solid #D6D7D6;
            padding-top: 20px;
            display: none;
        }

        .left-box {
            float: left;
            width: 20%;
            cursor: pointer;
            background-color: #ffffff;
        }

        .redlink {
            color: #d74108 !important;
        }

        .results-frame {
            width: 79%;
            float: left;
            padding-top: 0px;
            padding-left: 20px;
        }

        .ml-item-active {
            border-right: #0078C1 20px solid;
        }

        .ml-item {
            padding: 10px;
            margin-top: 0px;
            margin-bottom: 5px;
            background: #f4f4f4;
        }

            .ml-item:hover {
                background: #f4f4f4;
            }

        .base--button_submit {
            width: 30%;
        }

        .int-hide {
            display: none;
        }

        .arrowup {
            background-image: url('images/icons/arrowup.svg');
            background-repeat: no-repeat;
            background-attachment: inherit;
            background-position: 98% 50%;
            background-color: #ececec;
            background-size: 20px 20px;
        }

        .code {
            background-image: url('images/icons/code.svg');
            background-size: 20px 20px;
            background-repeat: no-repeat;
            background-attachment: inherit;
        }

        .arrowdown {
            background-image: url('images/icons/arrowdown.svg');
            background-repeat: no-repeat;
            background-attachment: inherit;
            background-position: 98% 50%;
            background-color: #ececec;
            background-size: 20px 20px;
        }

        .arrowup-main {
            background-image: url('images/icons/arrowup.svg');
            background-repeat: no-repeat;
            background-attachment: inherit;
            background-position: 95% 50%;
            background-size: 1em;
        }

        .base--h1 {
            font-size: 2.4em;
        }

        .arrowdown-main {
            background-image: url('images/icons/arrowdown.svg');
            background-repeat: no-repeat;
            background-attachment: inherit;
            background-position: 88% 50%;
            background-size: 1em;
        }

        .add-1-result {
            margin-top: 0px;
        }

        .right-float {
            text-align: right;
            margin-bottom: 10px;
            margin-right: .5em;
            margin-top: 0rem;
            width: 30%;
            float: right;
        }

        .btn-all-results-keywords,
        .btn-all-results-entities,
        .btn-all-results-concepts,
        .btn-all-results-targetsentiment,
        .btn-all-results-relations {
            cursor: pointer;
            color: #435D7E;
            text-decoration: underline;
            font-size: 1em;
            float: left;
            width: 20%;
            text-align: left;
            margin-top: 5px;
            display: block;
        }

        .nested-relations {
            font-size: .9em;
        }

        .output-header-tagline {
            font-size: .9em;
            margin-top: 5px;
            padding-left: 1em;
            padding-right: 1em;
        }

        .icon-hyperlink {
            float: right;
        }

        .container-relations {
            width: 100%;
            border: 1px solid #e0e0e0;
            border-bottom: 0px;
        }

        .element-relations {
            border-bottom: 1px solid #e0e0e0;
            margin-top: 0px;
        }

        .header-relations {
            padding: 10px;
            cursor: pointer;
            margin-top: 0px;
        }

        .output {
            background: #ffffff;
        }

        .hiden-relation {
            display: none;
        }

        .content-relations {
            background: #ffffff;
            margin-top: 0rem;
            margin-bottom: 1.5em;
            display: none;
            margin-top: 1.5em;
        }

        #div2,
        #div3,
        #div4,
        #div5,
        #div6,
        #div7,
        #div8,
        #div9,
        #div10,
        #div11,
        #div12,
        #div13,
        .base--table,
        #div14,
        .banner--row {
            margin-top: 0px;
        }

        .banner--service-resource {
            /*margin-left: 8%;*/
        }

        .base--h3 {
            line-height: .8em;
            padding-left: .5em;
            padding-right: .5em;
        }

        .icon-reset:before {
            color: #435D7E;
        }

        .icon-hyperlink--button {
            color: #435D7E;
        }

        .base--a:visited {
            color: #435D7E;
        }

        .base--a {
            color: #435D7E;
        }

        .relations-headline {
            padding-top: .3em;
            font-size: 1.5em;
        }

        .footer-container {
            margin-bottom: 4em;
            margin-top: 4em;
            padding: 1rem;
        }

        .bottom-links {
            margin-right: 1.5em;
            float: left;
            border: 2px solid black;
            padding: .5em 2em .5em 2em;
            color: #2e2e2e;
            font-weight: bold;
            background-color: #f4f4f4;
            cursor: pointer;
            -webkit-transition: background-color 1s;
            -moz-transition: background-color 1s;
            -ms-transition: background-color 1s;
            -o-transition: background-color 1s;
            transition: background-color 1s;
        }

            .bottom-links:hover {
                background-color: #2e2e2e;
                color: white;
            }

            .bottom-links.base--a {
                color: #2e2e2e;
                text-decoration: none;
            }

                .bottom-links.base--a:hover {
                    background-color: #2e2e2e;
                    color: white;
                }

        img.icons {
            width: 20px;
            margin-left: .5em;
        }

        .json-btn {
            cursor: pointer;
            text-decoration: underline;
        }

        .API--json {
            color: #ffffff;
            margin-left: 1em;
            white-space: pre-wrap;
        }

        .input--API {
            background-color: #323232;
            border: 2px solid #777677;
            margin-top: 0;
            width: 100%;
            height: 250px;
            overflow: overlay;
            font-family: "Courier New", "Lucida Console", monospace;
            overflow: auto;
        }

        .loading-gif {
            max-width: 246px;
            height: auto;
            margin: auto;
        }

        .loading--icon {
            text-align: center;
        }

        .base--code {
            color: white;
        }

        .base--thead {
            font-weight: bold;
            color: #325c80;
            border-bottom: 1px solid #d5d6d5;
            background-color: #ffffff;
        }

        .footer-title {
            font-size: 2.1em;
        }

        .footer-tagline {
            font-size: 1.4em;
            margin-top: .5em;
            color: #2e2e2e;
        }

        .footer-banner {
            background-image: url('images/watson-logo.svg');
            background-position: right;
            background-repeat: no-repeat;
            background-size: 30em;
            margin: auto;
        }

        .bottom-banner {
            border-top: 2px solid #ececec;
            display: block;
        }

        @@media (max-width: 700px) {
            .left-box {
                width: 100%;
            }

            .ml-item {
                padding: 10px;
            }

            .results-frame {
                width: 100%;
                padding-left: 0px;
            }

            .btn-all-results {
                width: 35%;
            }

            .footer-banner {
                background-image: none;
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }

            .footer-tagline {
                font-size: 1em;
            }

            .footer-title {
                font-size: 1.5em;
                color: #2e2e2e;
            }
        }

        @@media (max-width: 600px) {
            .footer-container {
                margin: 0rem;
            }

            .bottom-links.base--a {
                width: 100%;
                margin: 0rem;
                margin-top: 1rem;
            }
        }

        @@media (max-width: 1200px) {
            .bottom-links {
                width: 49%;
                margin-right: 2%;
                text-align: center;
            }

                .bottom-links:nth-of-type(2n) {
                    margin-right: 0rem;
                }
        }
    </style>
</head>
<body>
    <header class="_demo--heading">
        <div class="_demo--container">
            <a class="wordmark" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/">
                <span class="wordmark--left">IBM</span>
                <span class="wordmark--right">Watson Developer Cloud</span>
            </a>
            <nav class="heading-nav" role="menubar">
                <li class="base--li heading-nav--li" role="presentation">
                    <a class="heading-nav--item" role="menuitem" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/services-catalog.html">Services</a>
                </li>
                <li class="base--li heading-nav--li" role="presentation">
                    <a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/" role="menuitem" class="heading-nav--item">Docs</a>
                </li>
                <li class="base--li heading-nav--li" role="presentation">
                    <a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/gallery.html" role="menuitem" class="heading-nav--item">App Gallery</a>
                </li>
                <li class="base--li heading-nav--li" role="presentation">
                    <a href="https://developer.ibm.com/watson/" role="menuitem" class="heading-nav--item">Community</a>
                </li>
            </nav>
        </div>
        <div class="_demo--banner banner">
            <div class="_demo--container">
                <div class="banner--service-container">
                    <div class="banner--service-icon-container">
                        <img src="images/service-icon.svg" alt="Visual Recognition API Icon" class="banner--service-icon" />
                    </div>
                    <div class="banner--service-info">
                        <h1 class="banner--service-title base--h1">
                            <img src="images/service-icon.svg" alt="Visual Recognition API Icon" class="banner--service-icon_INLINE" />Visual Recognition
                        </h1>
                        <div class="banner--service-description">
                            Visual Recognition uses deep learning algorithms to analyze images for scenes, objects, faces, text, and other subjects that can give you insights into your visual content. You can organize image libraries, understand an individual image, and create custom classifiers for specific results that are tailored to your needs.
                        </div>
                    </div>
                </div>
                <div class="banner--service-resource-container">
                    <div class="banner--row">
                        <div class="banner--service-resource">
                            <span class="icon icon-link"></span>
                            <strong>Resources:</strong>
                        </div>
                    </div>
                    <div class="banner--row">
                        <div class="banner--service-links">
                            <li class="base--li banner--service-link-item">
                                <a href="https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/visual-recognition/api/v3/" class="base--a">API Reference</a>
                            </li>
                            <li class="base--li banner--service-link-item">
                                <a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/visual-recognition/" class="base--a">Documentation</a>
                            </li>
                            <li class="base--li banner--service-link-item">
                                <a href="https://github.com/watson-developer-cloud/visual-recognition-aspnet" class="base--a">Fork on Github</a>
                            </li>
                            <li class="base--li banner--service-link-item">
                                <a href="https://bluemix.net/deploy?repository=https://github.com/watson-developer-cloud/visual-recognition-aspnet" class="base--a">Deploy on Bluemix</a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="_demo--container">
        <article class="_content base--article">@RenderBody()</article>
    </div>
    <div class="_demo--banner bottom-banner">
        <div class="footer-banner">
            <div class="_demo--container footer-container">
                <div class="footer-title">Next Up: Build your own app</div>
                <div class="footer-tagline">Use Visual Recognition to get started.</div>
                <a href="https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/visual-recognition/api/v3/" target="_blank" class="base--a bottom-links">API Reference</a>
                <a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/visual-recognition/" target="_blank" class="base--a bottom-links">Documentation</a>
                <a href="https://github.com/watson-developer-cloud/visual-recognition-aspnet" target="_blank" class="base--a bottom-links">Fork on Github</a>
                <a href="https://bluemix.net/deploy?repository=https://github.com/watson-developer-cloud/visual-recognition-aspnet" target="_blank" class="base--a bottom-links">Deploy on Bluemix</a>
            </div>
        </div>
    </div>
    @Html.Partial("_Templates")
    <script src="~/js/vendor/browser-detect.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.iframe-transport.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js"></script>
    <script src="~/js/bundle.js"></script>
    <script src="~/js/vendors/tealeaf.js"></script>
</body>
</html>
